{% extends 'base.html.twig' %}
{% block body %}
{{ render(controller('AppBundle:Default:menu')) }}

<section style="margin-left:50px; margin-top:70px">
{% set vars = {'progress' : progress} %}
{% include 'config/progress.html.twig' with vars %}

<div style="display:flex">

  <div style="width:60%">
    <h4>Ajouter un appareil</h4>

    <h5>Vous allez être guidé vers le site du fabricant de votre montre pour récupérer vos données.</h5>
    <h5>Si vous souhaitez ajouter plusieurs comptes du même fabricant, merci de vous déconnecter auprès de ces derniers avant de configurer un nouveau compte.</h5>

    <div style="margin:50px 30px 30px 30px">
      <a href="{{path('fitbit')}}" style="margin:auto"><img  src="{{ asset('images/fitbit_logo.png') }}" width=200 alt="Fitbit"><p class=add>Je veux ajouter un appareil Fitbit. </p></a>
    </div>
    <br/>
    <div style="margin:30px">
      <a href="{{path('jawbone')}}" style="margin:auto"><img  src="{{ asset('images/jawbone_logo.png') }}" width=200 alt="Jawbone"><p class=add>Je veux ajouter un appareil Jawbone.</p></a>
    </div>
    <br/>
    <div style="margin:30px">
      <a href="{{path('samsung')}}" style="margin:auto"><img  src="{{ asset('images/samsung_logo.png') }}" width=200 alt="Samsung"><p class=add>Je veux ajouter un appareil Samsung.</p></a>
    </div>
    <br/>
    <div style="margin:30px">
      <a href="{{path('garmin')}}" style="margin:auto"><img  src="{{ asset('images/garmin_logo.png') }}" width=200 alt="Garmin"><p class=add>Je veux ajouter un appareil Garmin.</p></a>
    </div>

  </div>

  <div style="width:30%; border-left: 1px solid #eee;">

    <h4 style="margin-left:20px">Vos comptes actuels :</h4>

  {% for account in accounts %}

    <div style=" padding: 20px; margin: 20px;display:flex; align-items:center; border:1px solid #eee">

      <img  src="
      {% if account.brand == "fitbit" %}
      {{ asset('images/fitbit_logo.png') }}
      {% endif %}
      {% if account.brand == "jawbone" %}
      {{ asset('images/jawbone_logo.png') }}
      {% endif %}
      {% if account.brand == "garmin" %}
      {{ asset('images/garmin_logo.png') }}
      {% endif %}
      {% if account.brand == "samsung" %}
      {{ asset('images/samsung_logo.png') }}
      {% endif %}
      " style="width: 100px; height:auto;">

      <p style="margin:0 auto;"> {{account.nameAccount}} </p>
      <p style="margin:0 auto; font-size:12px"> {{account.apiId}} </p>
      <a href="/datamanager/{{account.Aid}}" class="btn btn-success" role="button" style="float:right"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
      <a href="/datamanager/remove/{{account.Aid}}" class="btn btn-danger" role="button" style="float:right; margin:5px"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a>

    </div>

  {% endfor %}

  {% if accounts == null %}
  <p style="font-size:12px; margin:20px">Vous n'avez pas encore de compte configuré. </p>
  {% endif %}

</div>
</div>
<br/>
<br/>
<br/>
<a href="/" class="btn btn-default" role="button">Revenir au tableau de bord</a>
</section>
<style>
.add{
  display:inline;
  font-size: 14px;
  margin:auto auto auto 70px;
  color:inherit;
}
</style>
{% endblock %}
