<nav class=" base navbar navbar-default" role="navigation" style="border-radius: 0px ">

    <ul class="nav navbar-nav navbar-left">

    <div class="col-sm-8 col-md-8">
      <form>
<input type="text" id="keyy"/>
</form>
<button class="btn btn-default" onclick="myFunction()">Chercher</button>


            <script>
            function myFunction() {
              var key = document.getElementById("keyy").value;
              window.location.href = "/search/"+key;
            }
            </script>

    </div>


    <!-- dropdown Message-->
    <div class="menu1">
      <div class="title1" onclick="f_message()"><span class="fa fa-comments"></span>
        {% if numnewmessage > 0 %}
        <div class="arrow1"><span class="rond_notif"><em>{{numnewmessage}}</em></span></div>
        {% endif %}
      </div>
      <div class="dropdown1">
        {% if newmessages %}
          {% for m in newmessages %}
          <li class="position_notif"><a href="/{{m.id}}"><img class="photos_amis" src="images/Avatar/{{m.id}}.png"/> {{m.name}} {{m.lastname}}</br></a>
            <p>{{m.content}}</p><hr></li>
          {% endfor %}
        {% else %}
            <li class="position_notif"> Pas de nouveaux messages </li>
        {% endif %}

      </div>
    </div>
      <!-- dropdown Amis-->
      <div class="menu2">
        <div class="title2" onclick="f_amis()"><span class="fa fa-user-plus"></span>
          {% if numrequest > 0 %}
          <div class="arrow1"><span class="rond_notif"><em>{{numrequest}}</em></span></div>
          {% endif %}
        </div>
        <div class="dropdown2">
          {% if request %}
          {% for r in request %}
             <li class="position_notif"><a href=""><img class="photos_amis" src=" {{ asset('images/Avatar/' ~ r.id1 ~ '.png') }}"/> {{r.name}} {{ r.lastname }}</br></a>
              <div class="bouton_accept">
                <button class="btn btn-primary" onclick="window.location.href='/profil/{{r.id1}}/{{r.id2}}/{{r.uidRel}}/1'">Accepter</button>
                <button class="btn btn-default" onclick="window.location.href='/profil/{{r.id1}}/{{r.id2}}/{{r.uidRel}}/0'">Rejeter</button>
              </div>
            </li>
            {% endfor %}
          {% else %}
          <li class="position_notif"> Pas de nouvelles demandes d'amis </li>

          {% endif %}
        </div>
      </div>
        <!-- dropdown notif-->
        <div class="menu3">
          <div class="title3" onclick="f_notif()"><span class="fa fa-bell"></span>
            {% if numposts > 0 %}
            <div class="arrow3"><span class="rond_notif"><em>{{numposts}}</em></span></div>
            {% endif %}
          </div>
          <div class="dropdown3">
            {% if newposts %}
              {% for p in newposts %}
              <li class="position_notif"><a href="/profil/{{app.user.id}}"><img class="photos_amis" src="images/Avatar/{{p.id1}}.png"/> {{p.name}} {{p.lastname}}</br></a>
                <p>{{p.content}}</p><hr></li>
              {% endfor %}
            {% else %}
                <li class="position_notif"> Pas de nouvelles notifications </li>
            {% endif %}

          </div>
    </div>
    <!--End dropdown NotiF-->

    <!-- dropdown Profil-->
    <div class="menu">
      <div class="title" onclick="f()">Mon Profil <span class="fa fa-bars"></span>
        <div class="arrow"></div>
      </div>
      <div class="dropdown">
        <p class="police_dropdown"><a href="{{ path('configure')}}">Configuration <span class="fa fa-gear"></span></a></p>
        <p class="police_dropdown"><a href="/profil/{{app.user.id}}">Votre profil </a><span class="fa fa-info"></span></p>
        <a href="/logout"><p class="police_dropdown">Déconnexion <span class="fa fa-sign-out"></span></p></a>
      </div>
    </div>
    <!--End dropdown Profil-->
    </ul>
</nav>

<nav class="base">
  <aside class='sidebar'>
    <div class='main-nav'>
      <ul>
        <li class='logo'>
      <a>APIFIT</a>
      <i ><img class='logo_icon'alt="logo_apifit" src="{{ asset('images/logo_apifit1.png') }}"/></i>
        </li>
        <li>
          <a href="/">Dashboard</a>
          <i class='fa fa-home'></i>
        </li>
        <li>
          <a href="/datamanager" style="font-size:14px">Mes données</a>
          <i class="fa fa-suitcase"></i>
        </li>
        <li>
          <a href="/entrainements">Entraînements</a>
          <i class='fa fa-bolt'></i>
        </li>
        <li>
          <a href="/defis">Défis</a>
          <i class='fa fa-rocket'></i>
        </li>
        <li>
          <a href="/friends">Amis</a>
          <i class='fa fa-users'></i>
        </li>
        <li>
          <a href = "/localisation">Localisation</a>
          <i class='fa fa-map-marker'></i>
        </li>
      </ul>
    </div>
  </aside>
</nav>

<div class=" base v_menu">
  <div class="v_menu_h"></div>
  <ul class="v_menu_items">
      <li>
      <a href="#"><i class="fa fa-google-plus"></i></a>
    </li>
    <li>
      <a href="https://www.facebook.com/ApifitEce/"><i class="fa fa-facebook"></i></a>
    </li>
      <li>
      <a href="https://twitter.com/Apifit_Ece"><i class="fa fa-twitter"></i></a>
    </li>
      <li>
      <a href="#"><i class="fa fa-linkedin"></i></a>
    </li>
    <li>
      <a href="https://www.youtube.com/channel/UC0cmD6pie45Hfhj9lTXYVnA"><i class="fa fa-youtube"></i></a>
    </li>
  </ul>
  <div class="v_menu_f"></div>
</div>

<footer class="base footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="copyright">
          © 2017 @ApifitCompany -  All rights reserved
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="design">
           <a  href="mailto:apifitcompany@gmail.com">Contact </a> | <a target="_blank" href="#">CNIL </a> | <a target="_blank" href="#">Mentions Légales</a> | <a target="_blank" href="#">FAQ</a>
        </div>
      </div>
    </div>
  </div>
</footer>

<style>
  #search_search{
    width:200px !important;
  }
</style>
