{% extends 'base.html.twig' %}
{% block body %}
<div class="zone_affichage container">

{% for e in exercices %}

    <div class="wrapper col-xs-4 col-lg-4">
        <div class="clash-card runner">
          <div class="clash-card__image img_runner">
          {% if e.sport == 1 %} // Football
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian.png" alt="{{e.nom}}" />
            {% elseif e.sport == 2 %} // Running 
            <img src="images/exercices/endurance.png" alt="{{e.nom}}" />
            {% elseif e.sport == 3 %} < -- Ski -->
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian.png" alt="{{e.nom}}" />
            {% elseif e.sport == 4 %} < -- Tennis -->
            <img src="images/exercices/tennis.png" alt="{{e.nom}}" />
            {% endif %}
          </div>
          <div class="clash-card__level level_runner">Level {{e.level}}</div>
          <div class="clash-card__unit-name">{{e.nomexo}}</div>
          <div class="clash-card__unit-description">
            {{e.description}}
          </div>

          <div class="clash-card__unit-stats info_runner clearfix ">
            <div class="one-third">
              {% if app.user.level >= (e.level * 10) %}
              <div class="stat-value">Statut : Débloqué</div>
              {% else %}
              <div class="stat-value">Statut : Bloqué</div>
              {% endif %}
            </div>


            <div class="one-third">
              <div class="stat-value">Difficulté :
                {% for i in 1.. e.level %}
                <i class="fa fa-star"></i>
                {% endfor %}
              </div>
            </div>

            <div class="one-third no-border">
              <div class="stat-value">Sport : {{e.nom}}</div>
            </div>

          </div>
        </div> <!-- end wrapper runner-->
      </div>
  {% endfor %}



  </div>
{% endblock %}
