
{% extends 'base.html.twig' %}

{% block body %}

  <body>
    <div style="background-color:#e7e7e7; padding:20px; border-bottom: 1px solid #777777">
      <h1 style="text-align:center">Configuration de votre programme</h1>
      <h1 style="text-align:center">Veuillez choisir votre modèle de montre.</h2>
				<p style="text-align:center">Username : {{ app.user.name }}</p>
   </div>
   <div class="container" style="margin:auto; margin-top:10px">
      <div style="border:1px solid #e7e7e7; margin:auto; padding:10px; display:inline-block;">
  		<a href="{{path('fitbit')}}"><img  src="{{ asset('images/fitbit_logo.png') }}" width=200 alt="Fitbit"> Je possède une montre Fitbit.</a>
      </div>
      <div class=row style="border:1px solid #e7e7e7; margin: 10px auto auto auto; padding:10px;display:inline-block;">
        <a href="{{path('jawbone')}}"><img  src="{{ asset('images/jawbone_logo.png') }}" width=200 alt=Jawbone> Je possède une montre Jawbone</a>
      </div>
    </div>
  </body>

{% endblock %}
