
{% extends 'base.html.twig' %}

{% block body %}

  <body>
    <div class="brique">
      <h1 style="text-align:center">Configuration de votre programme</h1>
      <h1 style="text-align:center">Veuillez choisir votre modèle de montre.</h2>
				<p style="text-align:center">
            Votre montre actuelle  :
            {% if(app.user.api != null)%}
                {{app.user.api |title }}
            {% endif %}
            {% if(app.user.api == null)%}
                Aucune
            {% endif %}
        </p>
   </div>
   <div class="col-md-2"></div>
   <div class=col-md-8>
      <div class="brique col-md-5 centrer" style="padding:0">
  		<a href="{{path('fitbit')}}"><button><img  src="{{ asset('images/fitbit_logo.png') }}" width=200 alt="Fitbit"> <br> Je possède une montre Fitbit.</button></a>
      </div>
      <div class="brique col-md-5 centrer" style="padding:0">
  		<a href="{{path('jawbone')}}"><button><img  src="{{ asset('images/jawbone_logo.png') }}" width=200 alt="Jawbone"> <br> Je possède une montre Jawbone.</button></a>
      </div>
    </div>
    <div class="col-md-2"></div>

    <div class="brique col-md-4" style="border: 1px solid black; margin-left:50px;">
      <h1 style="text-align:center">Configuration de votre profil</h1>
      {{ form_start(formpp) }}
      {{ form_widget(formpp) }}
      <button type="submit" class="btn btn-default">Changer ma photo de profil !</button>
      {{ form_end(formpp) }}

   </div>

   <div class="brique col-md-4" style="border: 1px solid black; margin-left:50px;">
     <h1 style="text-align:center">Configuration de votre profil</h1>
     {{ form_start(formupdate) }}
     {{ form_widget(formupdate) }}
     <button type="submit" class="btn btn-default">Mettre a jour vos informations !</button>
     {{ form_end(formupdate) }}

  </div>


  </body>

{% endblock %}
