
{% extends 'base.html.twig' %}

{% block body %}

  <body>
    <div class="brique">
      <h1 style="text-align:center">Configuration de votre programme</h1>
      <h1 style="text-align:center">Veuillez choisir votre modèle de montre.</h2>
				<p style="text-align:center">
            Votre montre actuelle  :
            {% if(app.user.api != null)%}
                {{app.user.api |title }}
            {% endif %}
            {% if(app.user.api == null)%}
                Aucune
            {% endif %}
        </p>
   </div>
   <div class="col-md-2"></div>
   <div class=col-md-8>
      <div class="brique col-md-5 centrer" style="padding:0">
  		<a href="{{path('fitbit')}}"><button><img  src="{{ asset('images/fitbit_logo.png') }}" width=200 alt="Fitbit"> <br> Je possède une montre Fitbit.</button></a>
      </div>
      <div class="brique col-md-5 centrer" style="padding:0">
  		<a href="{{path('jawbone')}}"><button><img  src="{{ asset('images/jawbone_logo.png') }}" width=200 alt="Jawbone"> <br> Je possède une montre Jawbone.</button></a>
      </div>
    </div>
    <div class="col-md-2"></div>

  </body>

{% endblock %}
