{% extends 'base.html.twig' %}
{% block body %}
{{ render(controller('AppBundle:Default:menu')) }}
<div class="zone_affichage container">

{% for e in exercices %}

    <div class="wrapper col-xs-3 col-lg-3">
        <div class="clash-card runner">
          <div class="clash-card__image img_runner">
            {% if e.sport == 1 %}
            <img src="images/exercices/athletisme2.png" alt="{{e.nom}}" />
            {% elseif e.sport == 2 %}
            <img src="images/exercices/baseball.png" alt="{{e.nom}}" />
            {% elseif e.sport == 3 %}
            <img src="images/exercices/basket.png" alt="{{e.nom}}" />
            {% elseif e.sport == 4 %}
            <img src="images/exercices/cyclisme.png" alt="{{e.nom}}" />
            {% elseif e.sport == 5 %}
            <img src="images/exercices/escrime.png" alt="{{e.nom}}" />
            {% elseif e.sport == 6 %}
            <img src="images/exercices/foot.png" alt="{{e.nom}}" />
            {% elseif e.sport == 7 %}
            <img src="images/exercices/football_americain.png" alt="{{e.nom}}" />
            {% elseif e.sport == 8 %}
            <img src="images/exercices/golf.png" alt="{{e.nom}}" />
            {% elseif e.sport == 9 %}
            <img src="images/exercices/gym.png" alt="{{e.nom}}" />
            {% elseif e.sport == 10 %}
            <img src="images/exercices/hockey.png" alt="{{e.nom}}" />
            {% elseif e.sport == 11 %}
            <img src="images/exercices/karate.png" alt="{{e.nom}}" />
            {% elseif e.sport == 12 %}
            <img src="images/exercices/rugby.png" alt="{{e.nom}}" />
            {% elseif e.sport == 13 %}
            <img src="images/exercices/tennis.png" alt="{{e.nom}}" />
            {% elseif e.sport == 14 %}
            <img src="images/exercices/volley.png" alt="{{e.nom}}" />
            {% endif %}
          </div>
          <div class="clash-card__level level_runner">Level {{e.level}}</div>
          <div class="clash-card__unit-name">{{e.nomexo}}</div>
          <div class="clash-card__unit-description">
            {{e.description}}
            {% set tmp = 0 %}
            {% for r in abonnementexo %}
              {% if e.id == r.tid %}
            <span class="open switch-button" id="{{ e.id }}">
              {% set tmp = 1 %}
              {% endif %}
            {% endfor %}
            {% if tmp == 0 %}
            <span class="switch-button" id="{{ e.id }}">
            {% endif %}
              <i class="switch"></i>
            </span>
          </div>

          <div class="clash-card__unit-stats info_runner clearfix ">
            <div class="one-third">
              {% if app.user.level >= (e.level * 10) %}
              <div class="stat-value">Statut : Débloqué</div>
              {% else %}
              <div class="stat-value">Statut : Bloqué</div>
              {% endif %}
            </div>


            <div class="one-third">
              <div class="stat-value">Difficulté :
                {% for i in 1.. e.level %}
                <i class="fa fa-star"></i>
                {% endfor %}
              </div>
            </div>

            <div class="one-third no-border">
              <div class="stat-value">Sport : {{e.nom}}</div>
            </div>

          </div>
        </div> <!-- end wrapper-->
      </div>
  {% endfor %}

<script>

$("span").click(function() {
  var button = $("#"+this.id);
  $(button).toggleClass('open');
  window.location.href = "/entrainements/"+this.id;
});

</script>

  </div>
{% endblock %}
