

{% extends 'base.html.twig' %}
{% block body %}
{{ render(controller('AppBundle:Default:menu')) }}
{% if app.user != null %}
<style>
label{
  font-weight:normal !important;
  font-family:Calibri;
}

li>a{
  font-family:Calibri;

}

.panel-heading{
  font-family:Calibri;
  font-size:16px;
}
</style>
<div class="zone_affichage container centrer">

<div class="row">

  <div class="col-lg-8 col-xs-8">
    <div class="panel panel-default">
        <div class="panel-heading">
              <i class="fa fa-bar-chart-o fsa-fw"></i> Courbe d'évolution
        </div>
        <div style="margin-top : 10px; margin-botton:10px;">
        <a href="/datamanager" role="button" class="btn btn-success" style="float:left; margin-left:10px">Toutes mes données</a>
        <button class="btn btn-info" style="float:right; margin-right:10px"id="steps">Pas</button>
        <button class="btn btn-info" style="float:right; margin-right:10px"id="distance">Distances</button>
      </div>

        <canvas id="myChart" style="padding-left:10px;" width="400" height="200"></canvas>
    </div>
  </div>

  <div class="col-xs-4 col-lg-4 dashboard_users">
    <div class="widget">
      <div class="cover">

      </div>
        <img class="photo" src="images/Avatar/{{app.user.id}}.png" alt="{{app.user.name}} {{ app.user.lastname}}" id="pp"><br/><br/>


        {% for u in users %}
          <li><h3>{{app.user.name}}</h3></li>
          <li><h4>Level : {{ u.level }} </h4></li> <!-- n'est plus dans user_data, il faut mettre le champ Level dans users. -->
        {% endfor %}
        {% for data in lastdata %}
        <li><h6>Taille : {{ data.height }} cm</h6></li>
        <li><h6>Poids : {{ data.weight }} kg </h6></li>

      {% if(data.height != null) %}  <li><h6 id="imc">IMC : {{ (data.weight/((data.height/100)*(data.height/100)))| round(2, 'common') }}</h6></li> {% endif %}

        <script>
    {% if(data.height != null) %}       var imc= {{ (data.weight/((data.height/100)*(data.height/100)))}}; {% endif %}
        if(imc>25) document.getElementById('imc').className="red";
        else if(imc<18) document.getElementById('imc').className="red";
        else document.getElementById('imc').className="green";
        </script>
          {% endfor %}
          <p style="font-size:12px; margin-bottom:0"> Expérience </p>

          <div class="progress" style="margin:20px;">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{app.user.xp}}"
            aria-valuemin="0" aria-valuemax="100" style="width:{{app.user.xp}}%">
              {{app.user.xp}}% complété
            </div>
          </div>
          <ul>
            <li><a href="{{ path('configure')}}"><i class="fa fa-gear"></i></a></li>
            <li><a href="/logout"><i class="fa fa-sign-out"></i></a></li>
          </ul>
    </div>
  </div>



</div>


<div class="row">
  <div class="col-lg-3 col-xs-3">
    <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-bolt"></i> Entraînement
        </div>
        <br/>
        {% for e in exercices %}
        <li>
          <label class="control control--checkbox">{{e.nomexo}} {{e.nom}}
            <input type="checkbox"/>
            <div class="control__indicator"></div>
          </label>
        </li>
        <hr>
        {% endfor %}
        <a href="/entrainements" class="btn btn-success" role="button" style="margin-bottom:15px"> Voir les entraînements disponibles </a>
    </div>
  </div>

  <div class="col-lg-3 col-xs-3">
    <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-rocket"></i> Défis
        </div>
        <br/>
        {% for d in defis %}
          <li>
            <label class="control control--checkbox">{{d.nom}} {{d.type}}
              <input type="checkbox"/>
              <div class="control__indicator"></div>
            </label>
          </li>
          <hr>
        {% endfor %}
        <a href="/defis" class="btn btn-success" role="button" style="margin-bottom:15px"> Voir les défis </a>
    </div>
  </div>

      <div class="col-lg-3 col-xs-3">
        <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-users"></i> Amis
            </div>
            <div class="scroll">
              {% for users in friends %}
              <li><a href="/profil/{{users.id}}"><button class="bouton_amis btn btn_bootstrap_modify btn-default btn-lg btn-block"><img src="images/Avatar/{{users.id}}.png" class="photos_amis" alt="{{ users.name }} {{ users.lastname}}" id="miniature"></img>
                {{ users.name }} {{ users.lastname}}</button></a></li>
                {% endfor %}
                <a href="/friends" class="btn btn-success" role="button" style="margin-bottom:15px"> Voir tous mes amis </a>
            </div>
        </div>
      </div>




  <div class="col-xs-3 col-lg-3 dashboard_users">
    <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-gear"></i>  Vos comptes
        </div>
        <br/>

        {% for account in accounts %}

            <div style=" padding: 20px; margin: 20px;display:flex; align-items:center; border:1px solid #eee">

              <img  src="
              {% if account.brand == "fitbit" %}
              {{ asset('images/fitbit_logo.png') }}
              {% endif %}
              {% if account.brand == "jawbone" %}
              {{ asset('images/jawbone_logo.png') }}
              {% endif %}
              {% if account.brand == "garmin" %}
              {{ asset('images/garmin_logo.png') }}
              {% endif %}
              {% if account.brand == "samsung" %}
              {{ asset('images/samsung_logo.png') }}
              {% endif %}
              " style="width: 100px; height:auto;">

              <p style="margin:0 auto;"> {{account.nameAccount}} </p>
              <p style="margin:0 auto; font-size:12px"> {{account.apiId}} </p>

            </div>

        {% endfor %}
        <hr>
        <a href="/configure" class="btn btn-primary" role="button" style="margin-bottom:15px"> Configurer </a>

    </div>
  </div>

</div>
</div>


  {% endif %}


  <!-- si on est pas identifié -->
  {% if app.user == null %}
  <a href="/login" class="btn btn-info"> Vous devez vous connecter pour accéder à votre compte.>></a>
  {% endif %}



  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js" type="text/javascript"></script>
  <script>


  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels : [
        {% for s in steps %}
        "{{s.date}}",
        {% endfor %}

      ],
      datasets: [{
        label: 'Nombre de Pas',
        data : [
          {% for s in steps %}
          "{{s.value}}",
          {% endfor %}

        ],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255,99,132,1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero:true
          }
        }]
      }
    }
  });

  function graphsteps(){
    var ctx = document.getElementById("myChart");
    var myChartSteps = new Chart(ctx, {
      type: 'bar',
      data: {
        labels : [
          {% for s in steps %}
          "{{s.date}}",
          {% endfor %}

        ],
        datasets: [{
          label: 'Nombre de Pas',
          data : [
            {% for s in steps %}
            "{{s.value}}",
            {% endfor %}

          ],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero:true
            }
          }]
        }
      }
    });
  }

  function graphdistance(){
    var ctx = document.getElementById("myChart");
    var myChartDistance = new Chart(ctx, {
      type: 'bar',
      data: {
        labels : [
          {% for s in distance %}
          "{{s.date}}",
          {% endfor %}

        ],
        datasets: [{
          label: 'Distance en Km',
          data : [
            {% for s in distance %}
            "{{s.value/1000}}",
            {% endfor %}

          ],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero:true
            }
          }]
        }
      }
    });
  }




$("#steps").click(function () {
  $('#myChart').replaceWith('<canvas id="myChart" style="padding-left:10px;" width="400" height="200"></canvas>');

  myChart.destroy();
  graphsteps();
});

$("#distance").click(function () {
  $('#myChart').replaceWith('<canvas id="myChart" style="padding-left:10px;" width="400" height="200"></canvas>');
  myChart.destroy();
  graphdistance();
});
  </script>

  {% endblock %}
