{% extends 'base.html.twig' %}
{% block body %}
{{ render(controller('AppBundle:Default:menu')) }}
{% if app.user != null %}

<div class="zone_affichage container">


<div class="row">

  <div class="col-lg-8 col-xs-8">
    <div class="panel panel-default">
        <div class="panel-heading">
              <i class="fa fa-bar-chart-o fsa-fw"></i> Courbe d'évolution
        </div>
        <canvas id="myChart" style="padding-left:10px;" width="400" height="200"></canvas>
    </div>
  </div>

    <div class="col-xs-4 col-lg-4 dashboard_users">
    <div class="widget">
      <div class="cover">
        <img src="images/fond_profil.jpg">
      </div>
        <img class="photo" src="images/Avatar/{{app.user.id}}.png" alt="{{app.user.name}} {{ app.user.lastname}}" id="pp"><br/><br/>

        {% for u in users %}
          <li><h4>{{app.user.name}}</h4></li>
          <li><h4>Level : {{ u.level }} </h4></li> <!-- n'est plus dans user_data, il faut mettre le champ Level dans users. -->
        {% endfor %}
        {% for data in lastdata %}
        <li><h6>Taille : {{ data.height }} cm</h6></li>
        <li><h6>Poids : {{ data.weight }} kg </h6></li>

        <li><h6 id="imc">IMC : {{ (data.weight/((data.height/100)*(data.height/100)))| round(2, 'common') }}</h6></li>
        <script>

        var imc= {{ (data.weight/((data.height/100)*(data.height/100)))}};
        if(imc>25) document.getElementById('imc').className="red";
        else if(imc<18) document.getElementById('imc').className="red";
        else document.getElementById('imc').className="green";
        </script>

        <li><h6>Stride Length Running : {{ data.strideLengthRunning }}</h6></li>
        <li><h6>Stride Length Walking : {{ data.strideLengthWalking }}</h6></li>
          {% endfor %}

          <ul>
            <li><a href="{{ path('configure')}}"><i class="fa fa-inbox"></i></a></li>
            <li><a href="/logout"><i class="fa fa-sign-out"></i></a></li>
          </ul>
    </div>
</div>

<div class="row">

  <div class="col-lg-4 col-xs-4">
    <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-bolt"></i> Entraînement
          {% for e in exercices %}
            <li> {{e.nomexo}} {{e.nom}}</li>
            <hr>
          {% endfor %}
        </div>
    </div>
  </div>

  <div class="col-lg-4 col-xs-4">
    <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-rocket"></i> <a href = "/defis">Défis</a>
        </div>
        <div class="scroll">
          {% for d in defis %}
            <li> {{d.nom}} {{d.type}}</li>
            <hr>
          {% endfor %}
        </div>
    </div>
  </div>

  <div class="friends col-lg-4 col-xs-4">
    <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-users"></i> Amis
        </div>
        <div class="scroll">
          {% for users in friends %}
          <li><a href="/profil/{{users.id}}"><button class="bouton_amis btn btn-default btn-lg btn-block"><img src="images/Avatar/{{users.id}}.png" class="photos_amis" alt="{{ users.name }} {{ users.lastname}}" id="miniature"></img>
            {{ users.name }} {{ users.lastname}}</button></a></li>
            {% endfor %}
        </div>
    </div>
  </div>
</div>


  {% endif %}


  <!-- si on est pas identifié -->
  {% if app.user == null %}
  <a href="/login" class="btn btn-info"> Vous devez vous connecter pour accéder à votre compte.>></a>
  {% endif %}



  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js" type="text/javascript"></script>
  <script>
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255,99,132,1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero:true
          }
        }]
      }
    }
  });
  </script>
  {% endblock %}
