{% extends 'base.html.twig' %}
{% block body %}
{{ render(controller('AppBundle:Default:menu')) }}

  {% if app.user != null %}
  {% set friendship = '1' %}
  <div class="zone_affichage container">
    <div class="row">

      <div class="col-xs-4 col-lg-4 dashboard_users">
        <div class="widget">
          <div class="cover">
            <img src="{{ asset('images/fond_profil.jpg') }}">

          </div>
          <img class="photo" src="{{ asset('images/Avatar/{{app.user.id}}.png')}}" alt="{{app.user.name}} {{ app.user.lastname}}" id="pp"><br/><br/>
          {% for u in user %}
              <img src="{{ asset('images/Avatar/' ~ u.id ~ '.png') }}" class="photo" alt="{{u.name}} {{ u.lastname}}">
              <li><h4>{{ u.name }} {{ u.lastname }}</h4></li>
              <li><h4>Level : {{ u.level }}</h4></li>
              {% if u.id != app.user.id %}
                {% if isfriend %}

                      {% for f in isfriend %}
                          {% if (f.STATUT == 1) %}
                                <li> Vous etes amis avec {{u.name}} </li>
                          {% elseif (f.STATUT == 0) %}
                                {% set friendship = '0' %}
                                {% if f.UID1 == u.id %}
                                    <a href="{{ u.id }}/{{ app.user.id }}/{{f.UID_REL}}"><button type="button" class="btn btn-primary">Accepter la demande de {{ u.name }}</button></a>
                                {% elseif f.UID2 == u.id %}
                                  <li> Une invitation à été envoyée a {{ u.name }} ! </li>
                                {% endif %}
                          {% endif %}
                      {% endfor %}
                {% else %}
                        <a href="{{ u.id }}/{{ app.user.id }}/-1"><button type="button" class="btn btn-primary">Ajouter {{ u.name }} à mes amis !</button></a>
                {% endif %}
              {% endif %}

              <ul>
                <li>
                {% if u.id == app.user.id  %}
                  <a><i class="fa fa-photo"></i></a>
                {% endif %}
                </li>
              </ul>
        </div>
      </div>

      <div class="col-lg-8 col-xs-8">
        <div class="panel panel-default">
          <div class="panel-heading">
                <i class="fa fa-pencil"></i> Exprimez-vous
          </div>
              {% for f in isfriend %}
                  {% if (f.STATUT == 1) %}
                    {{ form_start(formpost) }}
                    {{ form_widget(formpost) }}
                    {% if u.id != app.user.id %}
                      <button type="submit" class="btn btn-primary">Ecrire sur le mur de {{u.name}} ! </button>
                    {% else %}
                      <button type="submit" class="btn btn-primary">Partager avec mes amis !</button>
                    {% endif %}
                      {{ form_end(formpost) }}
                  {% endif %}
              {% endfor %}
              {% if u.id == app.user.id %}
                {{ form_start(formpost) }}
                {{ form_widget(formpost) }}
                  <button type="submit" class="btn btn-primary">Partager avec mes amis !</button>
                {{ form_end(formpost) }}
              {% endif %}
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                    <i class="fa fa-bookmark"></i> Statut
              </div>
              <div class="style_post">
              {% if posts %}
                {% for p in posts %}
                  <li>{{p.name}} {{p.lastname}}: "{{ p.content }}"</li>
                  {% if p.img %}
                    <img src ="images/Posts/{{p.src}}" alt="post de {{ u.name }}">
                  {% endif %}

                {% endfor %}
              {% endif %}
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                    <i class="fa fa-bookmark"></i> Discussion
              </div>
            {% if u.id != app.user.id %}
              <h4> Ma discussion avec {{ u.name }}</h4>
              {% if messages %}
                {% for m in messages %}
                  <ul>

                    {% if m.UID1 == u.id %}
                      <li style="text-align: left;">{{ m.CONTENT }}</li>
                    {% else %}
                      <li style ="text-align: right;"> {{ m.CONTENT }}</li>
                    {% endif %}
                  </ul>
                {% endfor %}
              {% else %}
                <li> Envoyez un message à {{u.name}} ! </li>
              {% endif %}
              {{ form_start(formchat) }}
              {{ form_widget(formchat) }}
                <button type="submit" class="btn btn-primary">Envoyer !</button>
              {{ form_end(formchat) }}
            {% endif %}
          {% endfor %}
        {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
